{% extends "admin_base.html" %}

{% block content %}

<div class="card">

<h2>Add Package</h2>

<form method="POST" action="/add_package" enctype="multipart/form-data">

<input name="category" placeholder="Category" required>
<input name="amt_rate" placeholder="Price" required>
<textarea name="description" placeholder="Description"></textarea>
<input name="duration" placeholder="Duration">

<input type="file" name="images" multiple>

<button class="btn">Add Package</button>

</form>

<hr>

<h3>All Packages</h3>

<table>

<tr>
<th>ID</th>
<th>Category</th>
<th>Price</th>
<th>Image</th>
<th>Action</th>
</tr>

{% for p in packages %}

<tr>
<td>{{p.package_id}}</td>
<td>{{p.category}}</td>
<td>₹ {{p.amt_rate}}</td>

<td>
<img src="/static/uploads/{{p.image}}" width="80">
</td>

<td>
<a href="/delete_package/{{p.package_id}}">
<button class="btn btn-danger">Delete</button>
</a>
</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}